export LOTUS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJBbGxvdyI6WyJyZWFkIiwid3JpdGUiLCJzaWduIiwiYWRtaW4iXX0.LxoliSInW0I8UxZODe63V7vCIUcGLON_tZnrILj-FmA
export LOTUS_API=
export LOTUSMINER_TOKEN=
export LOTUSMINER_API=
export OWNER_ADDR=f3uncvkf4vv4avcfaihoeuzbuj6vjdfgkssuncdyfetdtery3u4c6qpgpjdgybyljumacelajooposbd73stla
export THRESHOLD=26940166attofil
